*.class
*.apk
*.dex
zip/
bin/
**/bin/**
gen/
target/
.settings/*
.classpath
.project
.DS_Store
.gradle

/source/.idea/workspace.xml
samples/push/.idea
samples/push/app/src/main/java/com/apigee/push/Settings.java
